body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
}

h1 {
    font-size: 40px; 
    margin-top: 20px; 
}

#game {
    text-align: center;
    margin-top: 20px;
    border: 5px solid rgb(255, 0, 0); 
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    animation: borderColorRotation 3s infinite;
}
@keyframes borderColorRotation {
    0% {
        border-color: rgb(255, 0, 0); 
    }
    33% {
        border-color: rgb(0, 255, 0); 
    }
    66% {
        border-color: rgb(0, 0, 255); 
    }
    100% {
        border-color: rgb(255, 0, 0); 
    }
}

button {
    font-size: 50px; 
    width: 100px; 
    height: 100px; 
    line-height: 100px; 
    border-radius: 50%; 
    border: 2px solid; 
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.1);
}

#playerChoice {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#playerChoice button {
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    margin: 0 15px; 
}

#result {
    font-size: 18px;
}


#restartButton {
    background-color: rgb(3, 15, 125); 
    color: white; 
    border: 2px solid black; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    width: 180px; 
    height: 100px; 
    font-size: 18px;
    margin-top: 30px; 
    border-radius: 10px; 
    padding: auto;
}

#restartButton:hover {
    background-color: rgb(208, 95, 8); 
}

#restartButton:active {
    background-color: red; 
    transform: scale(0.9); 
}

@keyframes buttonBorderColorRotation {
    0% {
        border-color: rgb(255, 0, 0); 
    }
    33% {
        border-color: rgb(0, 255, 0); 
    }
    66% {
        border-color: rgb(0, 0, 255); 
    }
    100% {
        border-color: rgb(255, 0, 0); 
    }
}

.animated-border {
    border: 2px solid rgb(255, 0, 0); 
    animation: buttonBorderColorRotation 1s infinite;
    border-radius: 5px; 
}

/* Media queries for responsive design */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 30px; 
    }

    button {
        font-size: 40px; 
        width: 80px; 
        height: 80px;
        line-height: 80px;
    }

    #playerChoice button {
        margin: 0 15px; 
    }

    #restartButton {
        width: 140px; 
        height: 80px; 
        font-size: 16px; 
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 24px; 
    }

    #game {
        padding: 10px; 
    }

    button {
        font-size: 30px; 
        width: 60px; 
        height: 60px;
        line-height: 60px;
    }

    #playerChoice button {
        margin: 0 5px; 
    }

    #restartButton {
        width: 120px;
        height: 60px; 
        font-size: 14px; 
        margin-top: 20px; 
    }
}